route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'web.hook'

receivers:
  - name: 'web.hook'
    webhook_configs:
        - url: 'https://webhook.site/21f63867-db46-4573-9e71-9ad50a4a78f7'

