
@{
    ViewBag.Title = "Nums 1 ... " + ViewBag.Count;
}

<h2>@ViewBag.Title</h2>
<ul>
    @for(int i = 1; i <= ViewBag.Count; i++)
    {
        <li>@i</li>
    }
</ul>

<form>
    <label for="number">Enter end number in the field below:</label> <br />
    <input type="number" name="count" id="number" step="any" required />
    <button type="submit">Submit</button>
</form>

