body {
    background-color: rgb(238, 238, 238);
}

.card {
  background-color: rgb(red, green, blue);
}

.card .button {
  background-color: rgb(0, 153, 0);
  text-decoration: none;
  color: white
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1.2;
}


