@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
  font-family: Montserrat, sans-serif;
  padding: 16px;
}

th {
  background-color: lightblue;

}

td, th {
  width: 144px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding-left: 5px;
}
