#res {
    margin: 20px;
    border: 1px solid black;
    padding: 50px;
    width: 70%;
    background-color: rgb(239, 239, 233);
    color: green
}

#load {
  padding: 10px 30px;
  margin: 20px;
  font-size: 16px;
  background-color: rgb(223, 230, 178);
  color: rgb(224, 22, 22);
  font-weight: bold;
  border-radius: 20px;
}
