section {
  border: solid 8px #e6e6e6;
  padding: 16px;
  width: 451px;
  height: 540px;
}

h2 {
  font-family: Merriweather, serif;
  font-weight: 700;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  color: rgb(51, 51, 51);
}

div {
  font-size: 18px;
  font-weight: 600;
}

button {
  width: 250px;
  font-family: worksans, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  background-color: #d5384d;
  letter-spacing: 1px;
  padding: 8px 16px 8px 16px;
  margin-top: 0px;
  margin-bottom: 20px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
}
