@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");


h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  margin-bottom: 5px;
  padding-left: 5px;
}

section {
  padding: 5px;
}

a, button {
  border: solid 2px black;
  border-radius: 20px;
  padding: 2px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  background-color: white;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.fill {
  background-color: black;
  color: rgb(251, 251, 251);
}

button.fill.hover:hover {
    background-color: rgb(0, 158, 0);
    border-color: rgb(0, 158, 0);
    color: white;
}

button.hover:hover {
    color: rgb(0, 158, 0);
    outline: none;
    border-color: rgb(0, 158, 0);
}

i.fa-arrow-right {
  color: white;
  padding-right: 5px;
}



